@import "vars";

.mdo-buttonarea {
  margin-top: 20px;

  .mdo-grid-cell:first-child .mdo-button {
    margin-left: -20px;

    &.mdo-minimal {
      margin-left: -8px;
    }
  }
}

.mdo-button {
  display: inline-block;
  border: none;
  padding: 0 20px;
  color: #666;
  border-radius: 3px;
  height: 32px;
  line-height: 32px;
  font-size: 1rem;
  cursor: pointer;
  background: #ddd;
  transition: background .3s, box-shadow .3s;
  margin-right: $padding * 2;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0), 0 1px 3px 1px rgba(66, 133, 244, 0);
  outline: none;
  vertical-align: bottom;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &.mdo-block {
    display: block;
    width: 100%;
    text-align: left;
  }

  a {
    color: #666;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &.mdo-block {
    margin-right: 10px;
  }

  &:hover, &.mdo-active {
    background: #ccc;
    box-shadow: 0 1px 1px 0 rgba(242, 242, 242, 0.45), 0 1px 3px 1px rgba(242, 242, 242, 0.3);
  }

  &:active {
    background: #bbb;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
  }

  &.mdo-primary {
    border-color: $primary;
    background: $primary;
    transition: background .3s, border-color .3s, box-shadow .3s;
    color: $inverseTextColor;

    &:hover, &.mdo-active {
      border-color: darken($primary, 2%);
      background: darken($primary, 2%);
    }
  }

  &.mdo-minimal {
    background: transparent;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;

    &:hover, &.mdo-active {
      background: rgba(0, 0, 0, .2);
    }
  }

  .mdo-icon {
    vertical-align: top;
    margin-right: 8px;
  }

  &.mdo-has-icon {
    padding-left: 4px;
    padding-top: 4px;
    line-height: 27px;
  }

  &.mdo-only-icon {
    height: 32px;
    padding: 4px;

    .mdo-icon {
      margin: 0;
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &.mdo-disabled {
    background: #ddd;
    pointer-events: none;
    opacity: .8;
  }
}

.tme-app-header {
  .mdo-button.mdo-minimal {
    color: $inverseTextColor;
  }
}

.text-right {
  .mdo-button {
    margin-right: 0;
    margin-left: $padding * 2;
  }
}

.mdo-form-container {
  .mdo-button {

  }
}

.mdo-dialog-footer {
  .mdo-button {
    margin-top: 0;
    margin-right: 0;
    margin-left: $padding * 2;
  }
}

.mdo-buttongroup {
  .mdo-button {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:last-child{
      margin-right: $padding * 2;
      border-radius: 0 3px 3px 0;
    }
  }
}
