.mdo-radioselector {
  .mdo-radiobutton {
    margin-right: 20px;
    margin-top: 0;
    text-transform: none;
  }
}

.mdo-radiobutton {
  cursor: pointer;
  position: relative;
  display: inline-block;

  &.mdo-disabled{
    opacity: 0.5;
  }

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    border: #979797 solid 2px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 4px;
  }

  span {
    font-size: 14px;
    vertical-align: middle;
    color: #1f1f1f;
  }

  &.mdo-active {
    &:after {
      content: "";
      position: absolute;
      top: 7.5px;
      left: 4.6px;
      width: 8.5px;
      height: 8.5px;
      background: #979797;
      border-radius: 50%;
    }
  }

  &:hover {
    &:before {
      border-color: #c1c1c1;
    }

    &:after{
      background: #c1c1c1;
    }

    span {
      color: #444444;
    }
  }
}
